<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add food</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div th:insert="admin/admin-index :: nav"></div>

    <form class="container bg-secondary text-white" action="addFood" method="get" id="food">
        <div class="row">
            <div class="col-3">
                name:
            </div>
            <div class="col-9">
                <input class="form-control" name="name" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                price:
            </div>
            <div class="col-9">
                <input class="form-control" name="price" type="">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                applied:
            </div>
            <div class="col-9">
                <input type="radio" name="applied" value="yes" checked> Yes
                <input type="radio" name="applied" value="no"> No<br>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                food type:
            </div>
            <div class="col-9">
                <select class="form-control" name="foodType" form="food">
                    <option value="">Please select</option>
                    <option value="Noodle">Noodle</option>
                    <option value="ChineseDish">Chinese Dish</option>
                    <option value="Drink">Drink</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-info">Save It</button>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            th:src="@{/js/popper.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>