<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- navigation -->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="admin-index.html">RMS-Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard.html" th:href="@{/dashboard}">Dashboard</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Operation</a>
                    <div class="dropdown-menu">
                        <a href="update_table.html" th:href="@{/updateTable}" class="dropdown-item">Update table</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Back</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Manage</a>
                    <div class="dropdown-menu">
                        <a href="add-food.html" class="dropdown-item">Add food</a>
                        <a href="add-user.html" class="dropdown-item">Add user</a>
                        <a href="add_table.html" class="dropdown-item">Add table</a>
                        <a href="foods.html" class="dropdown-item">show foods</a>
                        <a href="users.html" class="dropdown-item">Show users</a>
                        <a href="admin_tables.html" th:href="@{showTablesForAdmin}" class="dropdown-item">Show tables</a>
                        <a href="payments.html" th:href="@{showPayments}" class="dropdown-item">Show payments</a>
                    </div>
                </li>
            </ul>
        </div>
        <a class="btn btn-primary float-right" href="login.html" th:href="@{/logout}">
            Logout
        </a>
    </nav>

</div>


</body>
</html>