<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All foods</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:insert="admin/admin-index :: nav"></div>
<table class="table">
    <thead>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Price</td>
        <td>Category</td>
        <td>Applied</td>
        <td>Num</td>
        <td>Action</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="food : ${foods}">
        <td th:text="${food.id}">1</td>
        <td th:text="${food.name}">apple</td>
        <td th:text="${food.price}">10.0</td>
        <td th:text="${food.foodType}">Soup</td>
        <td th:text="${food.applied}">Yes</td>
        <td th:text="${food.num}">19</td>
        <td>
            <form class="" action="deleteFood" method="get">
                <input name="id" type="hidden" th:value="${food.id}" >
                <button class="btn btn-primary" type="submit" onclick="alert('Did you really want to delete this?')">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        th:src="@{/js/popper.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>