<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:insert="admin/admin-index :: nav"></div>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>QUANTITY</th>
        <th>FOOD</th>
        <th>STATUS</th>
        <th>TABLE</th>
        <th>ACTION</th>
    </tr>
    </thead>
    <tbody th:each="oi : ${orderItems}">
        <tr>
            <td th:text="${oi.id}">1</td>
            <td th:text="${oi.quantity}">1</td>
            <td th:text="${oi.food.name}">SPRING ROLLS</td>
            <td th:text="${oi.orderItemStatus}">COOKING</td>
            <td th:text="${oi.table.id}">1</td>
            <td>
                <form action="order_items.html">
                    <button type="submit" value="1" class="btn btn-primary">Done</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>