<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div th:insert="admin/admin-index :: nav"></div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Capacity
            </td>
            <td>
                Status
            </td>
            <td>
                Action
            </td>
        </tr>
        </thead>
        <tbody th:each="t : ${tables}">
        <tr>
            <td th:text="${t.id}">
                1
            </td>
            <td th:text="${t.capacity}">
                8
            </td>
            <td th:text="${t.tableStatus}">
                IN USING
            </td>
            <td>
                <form id="1" th:id="${t.id}" action="update_table.html" th:action="@{changeTableStatus}">
                    <input name="id" type="text" value="1" th:value="${t.id}" style="display: none">
                    <select form="1" th:form="${t.id}" name="status">
                        <option th:each="s : ${statuses}" th:text="${s}" th:value="${s}">IN USING</option>
                    </select>
                    <button class="btn btn-primary" type="submit">Update</button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        th:src="@{/js/popper.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>