<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- nav -->
<div th:insert="nav :: nav"></div>
<div>
    <div class="text-info">
    <p class="">
        Riverland Hokkien Chinese Restaurant's owner is Chinese, every dish on the menu is popular in China.
    <p class="">It's very thankful that you visit our restaurant website.</p>
    <p>Hope you can have a good time.</p>
    <p>Take a seat please, and enjoy yourselves.</p>
    </div>
</div>
</body>
