<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<!-- nav -->
<div th:insert="nav :: nav"></div>
<div>
    <span th:text="${'Your ID: ' + session.person.id}">id</span>
    <span th:text="${'Table ID: ' + session.cust.tableId}">id</span>
    <a class="btn btn-secondary" href="tables.html" th:href="@{/showTables}">Choose Table</a>
</div>
<table class="table">
    <thead class="">
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody th:each="c : ${cart}">
        <tr>
            <td th:text="${c.food.name}">APPLE</td>
            <td th:text="${c.food.price}">5.2</td>
            <td th:text="${c.quantity}">5</td>
            <td>
                <form class="" action="deleteCartItem" method="get">
                    <input name="id" type="hidden" th:value="${c.id}">
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<div class="sticky-bottom">
    <div class="container" style="position: fixed; bottom: 0px">
        <div class="row">
            <div class="col-sm-7">
                <span >Total price: RMB </span>
                <span th:text="${total}">81</span>
            </div>
            <div class="col-sm-5">

                <a class="btn btn-primary" href="saveOrder" onclick="check_table_id()">
                    Check out
                </a>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    function check_table_id() {
        var table_id = [(${session.cust.tableId})];
        if (table_id == 0) {
            alert("Please choose a table before you checkout!")
        }
    }
</script>

</body>

</html>