<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
<!-- nav -->
<div th:insert="navigation :: nav"></div>

<table class="table">
    <thead class="">
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Quantity</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="c : ${cart}">
            <td th:text="${c.food.name}">APPLE</td>
            <td th:text="${c.food.price}">5.2</td>
            <td>
                <input type="number" value="2" th:value="${c.quantity}">
            </td>
        </tr>
    </tbody>
</table>
<div class="sticky-bottom">
    <div class="container" style="position: fixed; bottom: 0px">
        <div class="row">
            <div class="col-sm-7">
                <span >Total price: RMB </span>
                <span th:text="${total}">81</span>
            </div>
            <div class="col-sm-5">
                <button class="btn btn-primary" type="submit">
                    Check out
                </button>
            </div>
        </div>
    </div>
</div>

</body>

</html>