<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- nav -->
<div th:insert="nav :: nav"></div>
<div class="jumbotron d-flex justify-content-center">
    <h2 class="text-info">Please Login If You Want View This Page.</h2>

</div>
<div>
    <pre class="d-flex justify-content-center">
            You can click the link below to get to the login page,
        or it will automatically redirect to the login page in 6 seconds.
    </pre>
</div>
<div class="container d-flex justify-content-center">
    <a id="to_login" href="login.html" th:href="@{login}">
        <span class="text-primary">Go to login</span>
    </a>
</div>
<script>
    onload = setTimeout(function () {
        document.getElementById("to_login").click();
    }, 6000)
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        th:src="@{/js/popper.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>