<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Favorite</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- nav -->
<div th:insert="nav :: nav"></div>

<table class="table">
    <thead>
    <tr>
        <th>
            Image
        </th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody th:each="f : ${favorites}">
    <tr>
        <td>
            <img src="" alt="food img">
        </td>
        <td th:text="${f.food.name}">
            Beef Noodle
        </td>
        <td th:text="${f.food.price}">
            18
        </td>
        <td>
            <div class="row d-flex flex-column">
                <div class="col-5">
                    <form action="favorite.html" th:action="@{deleteFavorite}" class="justify-content-end">
                        <input name="id" value="1" th:value="${f.id}" style="display: none">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </div>
                <div class="col-5">
                    <form action="favorite.html" th:action="@{/favoriteToCart}" class="justify-content-start">
                        <input name="id" value="1" th:value="${f.food.id}" style="display: none">
                        <button type="submit" class="btn btn-primary">Order</button>
                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>