<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restt_mgmt_sys</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Kaushan+Script">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="../static/css/styles.min.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="#">RMS</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1" style="font-size:23px;">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="menu.html">Menu</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="cart.html">Cart</a></li>
                        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="orders_all.html">Order</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="orders_all.html">All</a><a class="dropdown-item" role="presentation" href="orders_nc.html">Not completed</a><a class="dropdown-item" role="presentation" href="orders_c.html">Completed</a></div>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Mine</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="profile.html">My profile</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                        </li>
                    </ul><span class="navbar-text actions"> <a href="login.html" class="login">Log In</a><a class="btn btn-light action-button" role="button" href="register.html">Sign Up</a></span></div>
            </div>
        </nav>
    </div>
    <section>
        <div class="row" style="margin:10px;">
            <div class="col d-flex float-left align-self-center co-sm-2" id="back"><i class="typcn typcn-arrow-back float-left" style="font-size:30px;"></i></div>
            <div class="col d-flex justify-content-center align-self-center" id="header" style="font-size:30px;"><span>My favorite</span></div>
            <div class="col"></div>
        </div>
        <div class="row" style="margin:10px;">
            <div class="col">
                <div class="container d-flex justify-content-between">
                    <div class="col d-flex justify-content-center align-items-center col-sm-3"><img alt="img"></div>
                    <div class="col d-flex flex-column justify-content-around col-sm-3">
                        <div><span>Latte</span></div>
                        <div><span>big/hot</span></div>
                        <div><span>RMB; 27</span></div>
                    </div>
                    <div class="col d-flex flex-column justify-content-between col-sm-3"><button class="btn btn-primary btn-sm" type="button">remove</button><button class="btn btn-primary btn-sm" type="button">order</button></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin:10px;">
            <div class="col">
                <div class="container d-flex justify-content-between">
                    <div class="col d-flex justify-content-center align-items-center col-sm-3"><img alt="img"></div>
                    <div class="col d-flex flex-column justify-content-around col-sm-3">
                        <div><span>Latte</span></div>
                        <div><span>big/hot</span></div>
                        <div><span>RMB; 27</span></div>
                    </div>
                    <div class="col d-flex flex-column justify-content-between col-sm-3"><button class="btn btn-primary btn-sm" type="button">remove</button><button class="btn btn-primary btn-sm" type="button">order</button></div>
                </div>
            </div>
        </div>
        <div class="row" style="margin:10px;">
            <div class="col">
                <div class="container d-flex justify-content-between">
                    <div class="col d-flex justify-content-center align-items-center col-sm-3"><img alt="img"></div>
                    <div class="col d-flex flex-column justify-content-around col-sm-3">
                        <div><span>Latte</span></div>
                        <div><span>big/hot</span></div>
                        <div><span>RMB; 27</span></div>
                    </div>
                    <div class="col d-flex flex-column justify-content-between col-sm-3"><button class="btn btn-primary btn-sm" type="button">remove</button><button class="btn btn-primary btn-sm" type="button">order</button></div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>

</html>