<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restt_mgmt_sys</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.0.9/typicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Kaushan+Script">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="/../restt_mgmt_sys/src/main/resources/static/css/styles.min.css"
        th:href="@{/css/styles.min.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
</head>

<body background="../static/img/meeting.jpg" th:background="@{/img/meeting.jpg}">
    <div class="login-dark" style="background-image:url(&quot;/../restt_mgmt_sys/src/main/resources/static/img/star-sky.jpg&quot;);height:770px;"
         th:style="'background-image:url(' + @{/img/star-sky.jpg} + '); height:770px'">
        <form action="login" method="post" class="form-container">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group"><input class="form-control" type="tel" name="phone" required="" placeholder="Phone number" maxlength="11" minlength="11" pattern="\d{11}" autocomplete="on" inputmode="tel"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" th:text="#{login.login}">Log In</button></div>




            <div class="form-group">
                <a class="btn btn-primary btn-block" type="button" href="register.html" th:href="@{/register.html}" th:text="#{login.sign_up}">
                    Sign Up
                </a>
            </div>
            <a class="forgot" href="index.html" th:href="@{/index.html}" th:text="#{login.guest_login}">
                Guest Log In
            </a>
            <a href="#" class="forgot" th:text="#{login.forgot}">Forgot your email or password?</a>
            <div class="d-flex justify-content-center ">
                <select id="locales" class="navbar-toggler text-white">
                    <option value="" th:text="#{lang.change}"></option>
                    <option value="en" th:text="#{lang.eng}"></option>
                    <option value="zh" th:text="#{lang.zh}"></option>
                </select>
            </div>
        </form>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="/../restt_mgmt_sys/src/main/resources/static/js/script.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                if (selectedOption !== ''){
                    window.location.replace('login?lang=' + selectedOption);
                }
            });
        });
    </script>
</body>

</html>