<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="container-fluid">
<!-- nav -->
	<div th:insert="navigation :: nav"></div>

    <!-- notification-->
    <div class="row bg-white">
        <div class="col-11">
        </div>
        <div class="col-1">
            <a href="#">
                <i class="fa fa-bell" style="font-size:24px"></i>
            </a>
        </div>
    </div>

    <!-- my profile picture-->
    <a href="#">
        <div class="row bg-white" style="height: 150px">
            <div class="col-3">
                <img src="../static/img/donaldTrump.png" class="rounded" style="width: 150px; height: 150px" alt="profile picture">
            </div>
            <div class="col-8">
                <h3><span class="badge">user name</span></h3>
            </div>
            <div class="col-1">
                <i class="fa fa-arrow-circle-right" style="font-size: 24px"></i>
            </div>
        </div>
    </a>

    <!-- my profile-->
    <a href="#">
        <div class="row bg-white" style="height: 50px">
            <div class="col-1">
                <i class="fa fa-address-card" style="font-size: 24px"></i>
            </div>
            <div class="col-10">
                <span class="badge">info</span>
            </div>
            <div class="col-1">
                <i class="fa fa-arrow-circle-right" style="font-size: 24px"></i>
            </div>
        </div>
    </a>
    <!-- feedback -->
    <a href="#">
        <div class="row bg-white" style="height: 50px">
            <div class="col-1">
                <i class="fa fa-edit" style="font-size:24px"></i>
            </div>
            <div class="col-10">
                <span class="badge">feedback</span>
            </div>
            <div class="col-1">
                <i class="fa fa-arrow-circle-right" style="font-size: 24px"></i>
            </div>
        </div>
    </a>
</div>
</body>
</html>