<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- navigation -->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="index.html">RMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="menu.html">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="cart.html">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tables.html" th:href="@{/showTables}">Tables</a>
                </li>
                <li class="nav-item" id="admin" onload="show()">
                    <a class="nav-link" href="admin-index.html">Admin</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Orders</a>
                    <div class="dropdown-menu">
                        <a href="orders_all.html" class="dropdown-item">All Orders</a>
                        <a href="orders_c.html" class="dropdown-item"> Completed Orders</a>
                        <a href="orders_nc.html" class="dropdown-item">Not Completed Orders</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Mine</a>
                    <div class="dropdown-menu">
                        <a href="profile.html" class="dropdown-item">Profile</a>
                        <a href="#" class="dropdown-item"></a>
                        <a href="#" class="dropdown-item"></a>
                    </div>
                </li>
            </ul>
        </div>
        <span th:text="${session.person.position}" class="text-white" id="position" style="">
            name
        </span>
        <span class="navbar-text actions">
            <a href="login.html" class="login">Log In</a>
            <a class="btn btn-primary action-button" role="button" href="register.html">
                Sign Up
            </a>
        </span>
    </nav>
    <script>

        var x = "CUSTOMER";
        var y = document.getElementById("position").innerText;
        if (y == x) {
            document.getElementById("admin").style.display = "none";
        }


    </script>
</div>
    
</body>
</html>