<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- navigation -->
<div th:fragment="nav">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="index.html">RMS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav">
                <li id="menu" class="nav-item">
                    <a class="nav-link" href="menu.html" th:href="@{/menu}">Menu</a>
                </li>
                <li id="cart" class="nav-item">
                    <a class="nav-link" href="cart.html" th:href="@{/cart}">Cart</a>
                </li>
                <li id="tables" class="nav-item">
                    <a class="nav-link" href="tables.html" th:href="@{/showTables}">Tables</a>
                </li>
                <li id="admin" class="nav-item"  onload="show()">
                    <a class="nav-link" href="admin-index.html">Admin</a>
                </li>
                <li id="orders" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Orders</a>
                    <div class="dropdown-menu">
                        <a href="orders_all.html" th:href="@{/allOrders}" class="dropdown-item">All Orders</a>
                        <a href="orders_c.html" th:href="@{/orders_c}" class="dropdown-item"> Completed Orders</a>
                        <a href="orders_nc.html" th:href="@{/orders_nc}" class="dropdown-item">Not Completed Orders</a>
                    </div>
                </li>
                <li id="mine" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Mine</a>
                    <div class="dropdown-menu">
                        <a id="profile" href="profile.html" th:href="@{/profile}" class="dropdown-item">Profile</a>
                        <a href="#" class="dropdown-item"></a>
                        <a href="#" class="dropdown-item"></a>
                    </div>
                </li>

            </ul>
            <span class="navbar-text actions">
            <a id="login" role="button"  href="login.html" th:href="@{/login}" class="btn btn-primary action-button">Log In</a>
            <a id="logout" href="login.html" th:href="@{/logout}" class="btn btn-primary action-button">Log Out</a>
            <a id="sign_up" class="btn btn-primary action-button" role="button" href="register.html">
                Sign Up
            </a>
        </span>
        </div>
        <span th:text="${session.person.position}" class="text-white" id="position" style="display: none">
            name
        </span>

    </nav>
    <script th:inline="javascript">
        if ([(${session.person.login})] == true) {
            document.getElementById("login").style.display = "none";
            document.getElementById("sign_up").style.display = "none";
        } else {
            document.getElementById("logout").style.display = "none";
        }
    </script>
    <script>

        var c = "CUSTOMER";
        var e = "EMPLOYEE";
        var g = "GUEST";
        var m = "MANAGER";
        var a = "ADMIN";
        var p = document.getElementById("position").innerText;
        if (p == c) {
            document.getElementById("admin").style.display = "none";
        }
        if (p != c) {
            document.getElementById("cart").style.display = "none";
            document.getElementById("orders").style.display = "none";
            document.getElementById("tables").style.display = "none";
            document.getElementById("profile").style.display = "none";
        }

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="/../restt_mgmt_sys/src/main/resources/static/js/script.min.js"></script>
</div>
    
</body>
</html>