<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all orders</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- nav -->
	<div th:insert="nav :: nav"></div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <td>
                    ORDER ID
                </td>
                <td>
                    TOTAL PRICE
                </td>
                <td>
                    TIME
                </td>
                <td>
                    STATUS
                </td>
            </tr>
        </thead>
        <tbody th:each="order : ${orders}">
            <tr>
                <td th:text="${order.id}">1</td>
                <td th:text="${order.totalPrice}">100.5</td>
                <td th:text="${order.createdAt}">
                    2018/05/11 11:11:11
                </td>
                <td th:text="${order.finished}" onload="paid(this)" style="display: none">true</td>
                <td th:switch="${order.finished}">
                    <div th:case="true">
                        <span>paid</span>
                    </div>
                    <div th:case="*">
                        <form id="1" th:id="${order.id}" action="orders_all.html" th:action="@{/pay}">
                            <input name="id" type="text" value="1" th:value="${order.id}" style="display: none">
                            <button class="btn btn-primary" type="submit" >
                                Pay
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        function paid(this) {
            // var parent = this.parentNode;
            // var n = this.nextSibling;
            // var p = this.previousSibling;
            if (this.innerHTML == "true") {
                alert("true")
            //     n.style.display = "none";
            //     p.style.display = "block";
            }
            this.innerHTML = "hello"

            // var x = "true";
            // var y = this.innerText;
            // if (y == x) {
            //     n.style.display = "none";
            // }
        }
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            th:src="@{/js/popper.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>