<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restt_mgmt_sys</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<!-- nav -->
<div th:insert="nav :: nav"></div>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <td th:text="#{order.id}">
            ORDER ID
        </td>
        <td th:text="#{order.total_price}">
            TOTAL PRICE
        </td>
        <td th:text="#{order.time}">
            TIME
        </td>
        <td th:text="#{order.status}">
            STATUS
        </td>
    </tr>
    </thead>
    <tbody th:each="order : ${orders}">
    <tr>
        <td th:text="${order.id}">1</td>
        <td th:text="${order.totalPrice}">100.5</td>
        <td th:text="${order.createdAt}">
            2018/05/11 11:11:11
        </td>
        <td th:text="${order.finished}" onload="paid(this)" style="display: none">true</td>
        <td>
            <span th:text="#{order.paid}">paid</span>
        </td>
    </tr>
    </tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        th:src="@{/js/popper.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>