<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<!-- nav -->
<div th:insert="nav :: nav"></div>
<form action="login.html" th:action="@{/updateProfile}">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <img src="../static/img/peppa-pig.jpg" th:src="@{/img/peppa-pig.jpg}"
                     style="width: 200px; height: 200px">
            </div>
            <div class="col-5">
                <input type="file" class="form-control" name="avatar-file">
            </div>
        </div>


        <label th:text="#{profile.name}">Name</label>
        <input class="form-control" type="text" name="name" th:value="${cust.name}">

        <label th:text="#{profile.sex}">Sex</label>
        <input class="form-control" type="text" name="sex" th:value="${cust.sex}">

        <label th:text="#{profile.address}">Address</label>
        <input class="form-control" type="text" name="firstname">

        <label th:text="#{profile.phone}">Phone</label>
        <input th:value="${cust.phone}" class="form-control" type="tel" name="phone" required=""
               placeholder="Phone number" maxlength="11" minlength="11" pattern="\d{11}">

        <label th:text="#{profile.password}">Password</label>
        <input id="pwd" th:value="${cust.password}" class="form-control" type="password" placeholder="password"
               name="password" autocomplete="off">

        <label th:text="#{profile.confirm_password}">Confirm Password</label>
        <input id="rpwd" th:value="${cust.password}" class="form-control" type="password" placeholder="repeate password"
               name="confirmPswd"
               autocomplete="off" onchange="verify()">

        <button class="btn btn-primary form-btn" type="submit" th:text="#{profile.save}">SAVE</button>
        <button class="btn btn-danger form-btn" type="reset" th:text="#{profile.cancel}">CANCEL</button>
</form>

<script>

    function verify() {
        var pwd = document.getElementById("pwd").value;
        var rpwd = document.getElementById("rpwd").value;
        if (pwd != rpwd) {
            alert("the passwords you have typed are not same!")
            document.getElementById("pwd").value = "";
            document.getElementById("rpwd").value = "";
        }
    }

</script>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        th:src="@{/js/popper.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>