<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- nav -->
<div th:insert="nav :: nav"></div>

<div>
    <span>
        <span th:text="${'Table ID: ' + session.cust.tableId}">id</span>
        <a class="btn btn-secondary" href="tables.html" th:href="@{/clear}">Choose Again</a>
        <a class="btn btn-secondary" href="cart.html" th:href="@{/cart}">cart</a>
    </span>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <td>
                Id
            </td>
            <td>
                Capacity
            </td>
            <td>
                Status
            </td>
            <td th:if="${session.cust.tableId == 0}">
                Action
            </td>
        </tr>
        </thead>
        <tbody th:each="t : ${tables}">
        <tr>
            <td th:text="${t.id}">
                1
            </td>
            <td th:text="${t.capacity}">
                8
            </td>
            <td th:text="${t.tableStatus}">
                IN USING
            </td>
            <td th:if="${session.cust.tableId} == 0">
                <form th:if="${#strings.toString(t.tableStatus)} == 'TO_USE'" action="tables.html" th:action="@{selectTable}">
                    <input name="id" type="text" value="1" th:value="${t.id}" style="display: none">
                    <button class="btn btn-primary">Use</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>